[Unit]
Description=Video Transcoder Service version 1.2
After=network.target

[Service]
User=$(whoami)
ExecStart=/bin/bash -c '/usr/bin/inotifywait -m -e close_write /path/to/directory | while read -r dir events filename; do /transcode/scripts/transcode.sh "$dir$filename"; done'
Restart=always

[Install]
WantedBy=multi-user.target