[Unit]
Description=Video Transcoder Service
After=network.target

[Service]
User=nerdy
ExecStart=/bin/bash -c '/usr/bin/inotifywait -m -e close_write /transcode/dashcam/ | while read -r dir events filename; do /transcode/transcode-V7.5-test.sh "$dir/$filename"; done'
Restart=always

[Install]
WantedBy=multi-user.target
